include libsurfpack_fortran.so
include librandom.so
include libdace.so
include libmods.so
include libutilities.so
include libtinyxml.so
include libteuchos.so
include libmod.so
include liblhs.so
include libjega.so
include libsampling.so
include libscolib.so
include libpecos_src.so
include libfsudace.so
include libsoga.so
include libpsuade.so
include libncsuopt.so
include libdakota_src.so
include libpecos.so
include libjega_fe.so
include libdakota_src_fortran.so
include libanalyzer.so
include libconmin.so
include libutilib.so
include libnidr.so
include libdfftpack.so
include libinterfaces.so
include libDGraphics.so
include lib3po.so
include liboptpp.so
include libsurfpack.so
include libamplsolver.so
include libcolin.so
include libcport.so
include libeutils.so
include libmoga.so
include libpebbl.so
include libhopspack.so
include libbose.so
